<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <p>
        <form id="comment-form" method="post" action="{{ action }}" role="form">
        <div class="controls">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_comment">{{ Params.date|date('d/m/Y') }} - Votre commentaire *</label>
                        <p>{{ Params.content|raw }}</p>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12  text-center">
                    <input type="hidden" name="id" value="{{ Params.id }}" />
                    <input type="hidden" name="user_idUser" value="{{ Params.user_idUser }}" />
                    <input type="hidden" name="post_idPost" value="{{ Params.post_idPost }}" />
                    <input type="hidden" name="disabled" value="{{ Params.disabled }}" />
                    <input type="hidden" name="date" value="{{ Params.date|date('Y/m/d') }}" />
                    <input type="hidden" name="action" value="sending" />
                    <input type="submit" class="btn btn-danger btn-send" value="Supprimer" />
                    <input type="reset" class="btn btn-fail btn-reset" value="Reset"/>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>