{% extends "base.html.twig" %}

{% block title %}Nous contacter{% endblock %}

{% block flash %}
    {% if Response %}
    <div class="row">
        <div class="col-lg-12 text-center alert alert-{{ Response.type }} ">
            {{ Response.message }}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contactez-moi</h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form id="contact-form" method="post" action="/contact" role="form">

                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Firstname *</label>
                                    <input id="form_name" type="text" value="{{ Params.name }}" name="name" class="form-control" placeholder="Votre prénom *" required="required" data-error="Prénom est obligatoire.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Lastname *</label>
                                    <input id="form_lastname" type="text" value="{{ Params.surname }}" name="surname" class="form-control" placeholder="Votre nom *" required="required" data-error="Nom est obligatoire.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" value="{{ Params.email }}" name="email" class="form-control" placeholder="Votre email *" required="required" data-error="Un email valide est obligatoire.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_need">Please specify your need *</label>
                                    <select id="form_need" name="need" value="{{ Params.need }}" class="form-control" required="required" data-error="Motif.">
                                        <option value=""></option>
                                        <option value="Request quotation">Motif 1</option>
                                        <option value="Request order status">Motif 2</option>
                                        <option value="Request copy of an invoice">Motif 3</option>
                                        <option value="Other">Autre</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" value="{{ Params.message }}" class="form-control" placeholder="Votre message *" rows="4" required="required" data-error="Un message ?"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="hidden" name="action" value="sending" />
                                <input type="submit" class="btn btn-success btn-send" value="Envoyer" />
                                <input type="reset" class="btn btn-fail btn-reset" value="Reset"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted">
                                    <strong>*</strong> Ces champs sont obligatoires.
                            </div>
                        </div>
                    </div>

                </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}