{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bienvenu(e)</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <p>Si vous cherchez une personne capable de :</p>
                    <p>Concevoir et développer les programmes et applications, déterminer des mesures correctives, analyser des
problèmes techniques, établir un cahier des charges, analyser les besoins du client.
Maitrise des langages de programmation PHP 5 à 7, HTLM 5 / CSS 3, javascript, Visual Basic pour application,
Pascal, Delphi, Fortran, Foxpro, SQL (PostgreSQL, MySQL, MS SQL, SGDB).
Maitrise des logiciels de bureautique tels que Word, Excel, Powerpoint, Publisher.
Assemblage de PC, remplacement de pièces sur PC et ordinateurs portables.</p>
<p>alors vous êtes au bon endroit. N'hésitez pas à consulter mes posts ou à me contacter.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3><B>Liste des derniers posts</B></h3>
                    {% if LastPostList %}
                        {% for post in LastPostList %}
                            <hr/>
                            <h3>{{ post.dateCreate|date("m/d/Y") }} - {{ post.title|raw }}</h3>
                            <p>{{ post.chapo|raw }}</p>
                            <p><a href="/post-{{ post.id }}">Voir plus ...</a></p>
                        {% endfor %}
                    {% else %}
                        <hr/>
                        <p>A venir bientôt ...</p>
                    {% endif %}
                </div>
            </div>
        </div>
    
    </section>
    <br/>
    {{ include('frontend/contact.html.twig') }}
{% endblock %}

