{% extends "base.html.twig" %}

{% block title %}FRONTEND !{% endblock %}

{% block body %}
    
    <h3>Dernier Posts :</h3>
    <hr />
    {% for Post in LastPostList %}
    <p>{{ Post.title }} - {{ Post.dateCreate|format_datetime('short', 'none', locale='fr') }}</p><br />
    <p>{{ Post.chapo }}</p>
    <hr />
    {% endfor %}
    <h3>Liste des utilisateurs</h3>
    {% for User in ListUser %}
    <p>{{ User.name }} - {{ User.firstName }}</p><br />
    <hr />
    {% endfor %}
    <p>SALT : {{ salt }}</p><br />
    <p>PASSWORD : {{ password }}</p><br />
    <p>TOKEN : {{ token }}</p><br />
{% endblock %}