{% extends "base.html.twig" %}

{% block title %}Liste des posts{% endblock %}

{% block body %}
<section>
    <div class="container" >
        <!-- Modal -->
        <div class="modal fade" id="empModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User Info</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="POST" class="needs-validation" novalidate>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ post.title|raw }} <br/> {{ post.dateCreate|date("m - d - Y") }}</h2>
                <hr/>
            </div>
            <div class="col-lg-12">
                <p><b>{{ post.chapo|raw|nl2br }}</b></p>
                <p>{{ post.content|raw|nl2br }}</p>
            </div>
        </div>
    </div>
</section>
<section class="comments">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Liste des commentaires
            </div>
            <div class="col-lg-12">
            {% if comments %}
                {% for comment in comments %}
                    <hr/>
                    <h4>Par {{ comment.pseudo|raw }} - {{ comment.dateCreate|date("m/d/Y") }}</h4>
                    <p>{{ comment.content|raw|nl2br }}</p>
                    {% if comment.user_idUser == session.idUser %}
                        <p><button id="theElement1" name="theElement1" data-id="{{ comment.id }}" data-route="/modifycomment-{{ comment.id }}" data-title="Modifier votre commentaire" class='btn btn-info userinfo'>Modifier votre commentaire</button> - 
                        <button id="theElement1" name="theElement1" data-id="{{ comment.id }}" data-route="/deletecomment-{{ comment.id }}" data-title="Supprimer votre commentaire" class='btn btn-info userinfo'>Supprimer votre commentaire</button>
                    {% endif %}
                {% endfor %}
            {% else %}
                <hr/>
                <p>A venir bientôt ...</p>
            {% endif %}
            </div>
            <div class="col-lg-12">
                <hr/>
                <h2>Ajouter un commentaire</h2>
                {% if session.connected %}
                    {% include('frontend/commentForm.html.twig') %}
                {% else %}
                    <p>Vous devez être connecté pour poster un commentaire.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <!-- Contact Form JavaScript -->
    <script src="/js/modal.js"></script>-->
{% endblock %}